<app-header></app-header>
<!--
<div class="example-container" fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="center center">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div> -->
<ng-container><router-outlet ></router-outlet></ng-container>



